.button {
    display: block;
    width: 260px;
    padding: 14px 0;
    @extend %buttons;
    color: var(--white);
    background-color: var(--accent-color);
    border: none;

    @media screen and (min-width:768px) {
        padding: 16px 5px;
    }

    @media screen and (min-width: 1366px) {
        width: 366px;
        padding: 27px 24px;
    }
}

.button--inversed {
    @extend .button;
    color: var(--accent-color);
    background-color: var(--white);
    border: 2px solid var(--accent-color);
}