:root {
  --main-text: #111518;
  --second-text: #b9b9b9;
  --accent-color: #ff6b09;
  --white: #ffffff;
  --black: #000000;
  --problems-icon: #3d3d3d;
  --guarantee-bg: #f1f1f1;
  --vk-fill: #436eab;
  --mobile-menu-bg: rgb(17, 21, 24, 0.9);

  --gap: 30px;
  --item-amount: 1;

  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1366px;
}
