<header class="page-header">
  <div class="container page-header__container">
    <nav class="page-header__nav">
      <a href="#" class="page-header__logo">
        <img
          class="page-header__logo-icon"
          src="images/logo_ampi_light1.svg"
          alt="site logo"
          width="159px"
        />
        <!-- <svg class="page-header__logo-icon">
          <use href=" images/icons.svg#icon-logo-black"></use>
        </svg> -->
      </a>
      <div class="page-header__wrapper">
        <select id="selector" name="selector">
          <option value="english">EN</option>
          <option value="français" selected>FR</option>
        </select>
      </div>
      <!-- <div class="page-header__wrapper">
        <ul class="page-header__links">
          <li class="page-header__item">
            <a href="" class="page-header__link">Studying program</a>
          </li>
          <li class="page-header__item"><a href="" class="page-header__link">about</a></li>
          <li class="page-header__item">
            <a href="" class="page-header__link">training options</a>
          </li>
          <li class="page-header__item"><a href="" class="page-header__link">contacts</a></li>
        </ul> -->

      <!-- <button type="button" class="button--inversed page-header__button">
          Consultation by phone
        </button> -->

      <!-- <button
          class="page-header__mobile-menu js-open-menu mobile-menu-button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="mobile-menu-button__icon" stroke="#000000" width="20.5px" height="12px">
            <use href=" images/icons.svg#icon-menu"></use>
          </svg>
        </button> 
      </div> -->
    </nav>
  </div>
</header>
