.footer {
  padding: 21px 0;
  background-color: var(--main-text);

  &__text {
    @include font(500, 14px, 200%, 0.08em);
    color: var(--second-text);

    @media screen and (max-width: 767px) {
      text-align: left;
    }

    @media screen and (min-width: 1366px) {
      line-height: 28px;
    }
  }
}
